---
import { pages } from "@/configs/pages";
import Layout from '@/layouts/Layout.astro';
import PageLayout from "@/layouts/PageLayout.astro";
---

<Layout
  title={pages.blog.title}
  description={pages.blog.description}
  keywords={pages.blog.keywords}
>
  <PageLayout heading={pages.blog.heading}>
   <section class="mt-8">
      <p class="text-center text-xs text-base-content/60">
        Also available via <a href="/blog/rss.xml" class="link">RSS</a>
      </p>
    </section>
  </PageLayout>
</Layout>


