---
import { Font } from "astro:assets";
import ThemeScript from "@/components/ThemeScript.astro";
import Nav from "@/components/Nav.astro";
import { pages } from "@/configs/pages";
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords: readonly string[];
  noIndex?: boolean;
  extraLd?: Record<string, unknown>[];
}

const { title, description, keywords, noIndex, extraLd = [] } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
	<head>
		
		<ThemeScript />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-satoshi" preload />
		<title>{pages.site.title}</title>
	</head>
	
	<body class="flex min-h-dvh flex-col justify-between px-4" tabindex="-1">
		<Nav />
		<slot />
	</body>
</html>
